#first-paragraph {
  padding: 100px;
  background-color: yellow;
}
#second-paragraph {
  margin: 100px;
  background-color: orange;
}
#third-paragraph {
  padding: 50%;
  margin: 50%;
  background-color: pink;
}