.parent {
   position: relative;
   height: 400px;
   background-color: lightcyan;    
}
#first-div {
   width: 100px;
   height: 100px;
   background-color: orange;
}
#second-div {
   width: 100px;
   height: 100px;
   background-color: yellow;
}
#third-div {
   position: absolute;
   top: 50px;
   right: 50px;
   width: 100px;
   height: 100px;
   background-color: pink;
}